<tr class="<%= cycle('list_line_odd', 'list_line_even') %>" style="border-style:solid;">
  <td class="thing_description">
      <div class="c100 p<%=ratio(hero)%> big">
        <span><%= ratio(hero) %>% </br>
        <%= image_tag(hero.image_url, class: 'list_image') %>

          </span>
        <div class="slice">
          <div class="bar"></div>
          <div class="fill"></div>
        </div>
      </div>
  </td>
</tr>