.games {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      padding-top: 5px;
    }
  }
  table {
    border-collapse: separate;

  }
  .vod_container {
    float: left;
    width: 69%;
    height: 0;
    padding-bottom: 38.8125%;
    position: relative;
  }
  .vod_container iframe {
    background-image: url("https://i.imgur.com/h5ZDW6U.jpg");
    background-size: 100% 100%;
    width: 100%;
    height: 100%;
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    border: solid;
    border-radius: 25px;
    frameborder: 0;
    allow: autoplay encrypted-media;
  }
  .game_table {
    max-width: 30%;
    float: left;
  }


  table tr {
    padding: 5px;
    vertical-align: top;
    border-style: solid;

  }

  td.image {
    width: 35%;
  }

  td.times {
    background: rgb(130, 19, 33);
    padding-top: 5%;
    width: 5%;
    text-align: left;
    font-weight: 700;
    a {
      color: #08fff0;
      font-weight: 700;
    }


  }
    tr td {
      border-radius: 10px;
      border:solid;
      background: rgb(130, 19, 33);

  }

  td.list_actions {
    font-size:  x-small;
    text-align: left;
    padding-left: 1em;
    width: 15%;

  }
  .list_image {
    max-width: 98%;
    max-height: 98%;
  }
  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color: #244;
      font-weight: bold;
      font-size: larger;
    }

    dd {
      margin: 0;
    }
  }

}