<p id="notice"><%= notice %></p>

<script>
    var WIDTH = 20;
    var HEIGHT = 20;
    var board = [];
    var temp = [];
    var running;
    var button;

    function countNeighbors(y,x){
        var neighbors = 0;
        for (var i = (y - 1); i < (y+2); i++){
            for (var j = (x - 1); j < (x+2); j++) {
                if (0 <= i && 0 <= j && i < HEIGHT && j < WIDTH) {
                    if (!(i == y && j == x)) {
                        if (board[i][j] == 1) {
                            neighbors += 1;
                        }
                    }
                }
            }
        }
        return neighbors;
    }

    function playPause() {
        if (running) {
            noLoop();
            running = false;
            button.html("Play");
        }
        else {
            loop();
            running = true;
            button.html("Pause")
        }

    }

    function setup() {
        createCanvas(windowWidth, windowHeight);
        button = createButton("Pause");
        button.position(windowWidth / 3, windowHeight / 3);
        button.mousePressed(playPause)
        for (var i = 0; i < HEIGHT; i++) {
            board[i] = [];
            for (var j = 0; j < WIDTH; j++) {
                board[i][j] = int(random(0, 2));
            }
        }
        running = true;
        frameRate(4);
    }


    function draw() {
        clear();
        var ALIVE = color(0,255,0);
        var DEAD = color(0,0,255);
        arrayCopy(board,temp);
        var startx = windowWidth / 3;
        var starty = windowHeight / 12;
        for (var i = 0; i < HEIGHT; i++) {
            for (var j = 0; j < WIDTH; j++) {
                var neighbors = countNeighbors(i,j);
//            print(neighbors);
                var cell = board[i][j];
                if (cell == 0 && neighbors == 3){
                    temp[i][j] = 1;
                    fill(ALIVE);
                }
                else if (cell == 1 && (neighbors == 2 || neighbors == 3)) {
                    temp[i][j] = 1;
                    fill(ALIVE);
                }
                else if (cell == 1 && neighbors > 3) {
                    temp[i][j] = 0;
                    fill(DEAD);
                }
                else if (cell == 1 && neighbors < 2) {
                    temp[i][j] = 0;
                    fill(DEAD);
                }
                else if (cell == 0){
                    temp[i][j] = 0;
                    fill(DEAD);
                }
                else if (cell == 1){
                    temp[i][j] = 1;
                    fill(ALIVE);
                }
                ellipse(startx, starty, 20);
                startx += 25;
            }

            starty += 25;
            startx -= (WIDTH * 25);
        }
        board = temp;
    }



</script>